<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="css/styles.css" rel="stylesheet">
    <script src="js/vue.js"></script>
</head>
<body>
<style>
    .error {
        background: red;
    }
    .success {
        background: green;
    }
</style>
    <div class="wrapper">
        <div id="sample">
            <form>
        		<div class="progress">
					<div class="progress-bar" :style="progressBarWidth"></div>
				</div>
				<div>
					<div class="form-group" v-for="field in info" :class="result[field.name]">
	                    <label>{{ field.name }}</label>
	                    <input type="text"
                               class="form-control"
                               v-model="field.value"
                               @input="check(field)"
                        >
	                </div>
				</div>
				<button class="btn btn-primary">
					Send Data
				</button>
			</form>
			<div>
				<table class="table table-bordered">
					<tr v-for="field in info">
						<td>{{ field.name }}</td>
						<td>{{ field.value }}</td>
					</tr>
				</table>
			</div>
		</div>
    </div>
	<script>
		
		new Vue({
			el: '#sample',
			data: {
				info: [
					{
						name: 'Name',
						value: '',
						pattern: /^[a-zA-Z ]{2,30}$/
					},
					{
						name: 'Phone',
						value: '',
						pattern: /^[0-9]{7,14}$/
					},
					{
						name: 'Email',
						value: '',
						pattern: /.+/
					},
					{
						name: 'Some Field 1',
						value: '',
						pattern: /.+/
					},
					{
						name: 'Some Field 2',
						value: '',
						pattern: /.+/
					}
				],
                result: [],
                control: [],
                done: ''
			},
            computed: {
			    progressBarWidth() {
			        return {
			            width: (this.done*100/this.info.length) + '%'
                    }
                }
            },
            methods: {
                check(field) {
                    if (field.pattern.test(field.value)) {
                        this.result[field.name] = 'success';

                        if (!(field.name in this.control)) {
                            this.done++;
                            this.control[field.name] = true;
                        }
                    } else {
                        this.result[field.name] = 'error';

                        if (field.name in this.control) {
                            this.done--;
                            delete this.control[field.name];
                        }

                    }
                }
            }
		});
	</script>
</body>
</html>