<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link href="/css/styles.css" rel="stylesheet">
    <script src="/js/vue.js"></script>
</head>
<body>
<style>
    .error {
        color: red;
    }
    .success {
        color: green;
    }
</style>
    <div class="wrapper">
        <div id="sample">
            <form v-if="!formSubmitted" @submit.prevent="formSubmitted = true">
        		<div class="progress">
					<div class="progress-bar" :style="progressBarWidth"></div>
				</div>
				<div>
					<div class="form-group" v-for="(field, index) in info">
	                    <label>{{ field.name }}</label>
                        <i class="fa"
                           v-if="controls[index].activated"
                           :class="controls[index].error ?
                           'fa-exclamation-circle error' :
                           'fa fa-check-circle success' ">
                        </i>
	                    <input type="text"
                               class="form-control"
                               @input="check(index, $event.target.value)">
	                </div>
				</div>
				<button class="btn btn-primary" :disabled="done < info.length">
					Send Data
				</button>
			</form>
			<div v-else>
				<table class="table table-bordered">
					<tr v-for="field in info">
						<td>{{ field.name }}</td>
						<td>{{ field.value }}</td>
					</tr>
				</table>
			</div>
		</div>
    </div>
	<script>
		
		new Vue({
			el: '#sample',
			data: {
				info: [
					{
						name: 'Name',
						value: '',
						pattern: /^[a-zA-Z ]{2,30}$/
					},
					{
						name: 'Phone',
						value: '',
						pattern: /^[0-9]{7,14}$/
					},
					{
						name: 'Email',
						value: '',
						pattern: /.+/
					},
					{
						name: 'Some Field 1',
						value: '',
						pattern: /.+/
					},
					{
						name: 'Some Field 2',
						value: '',
						pattern: /.+/
					}
				],
                controls: [],
                formSubmitted: false
			},
            created() {
			    for(let item in this.info) {
			        this.controls.push({
                        error: false,
                        activated: false
                    });
                }
            },
            computed: {
			    done() {
			        let done = 0;

                    for(let item in this.controls) {
                        console.log(this.controls);
                        if (! this.controls[item].error && this.controls[item].activated) {
                            done++;
                        }
                    }

                    return done;
                },
			    progressBarWidth() {
			        return {
			            width: (this.done * 100 / this.info.length) + '%'
                    }
                }
            },
            methods: {
                check(index, value) {
                    this.info[index].value = value;

                    this.controls[index].error = !this.info[index].pattern.test(value);
                    this.controls[index].activated = true;
                }
            }
		});
	</script>
</body>
</html>